@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@100;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

:root {
	--background: #ffffff;
	--foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.bonheur-royale-regular {
	font-family: var(--font-bonheur-royale);
}

.font-playfair-display {
	font-family: 'Playfair Display';
}

.font-fraunces {
	font-family: 'Fraunces';
}

@keyframes slideDown {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes slideUp {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-100%);
	}
}

.animate-slideDown {
	animation: slideDown 0.3s ease-in-out;
}

.animate-slideUp {
	animation: slideUp 0.3s ease-in-out;
}
